{% extends "tercera_preentrega_app/base.html" %}
{% block title %}Acerca de mí{% endblock %}
{% block content %}
<div class="container-about">
    <h1>Acerca de mí</h1>
    <p><strong>Credenciales profesionales</strong></p>
    <p>Soy estudiante de la carrera de Licenciatura en Cs. de la Computación y profesor de Matemática en Educación
        Secundaria. Actualmente, estoy especializando mis habilidades como desarrollador Full-Stack. Tengo conocimientos
        en
        HTML, CSS, JavaScript, React.js y Node.js. Actualmente, aprendiendo Angular y Python. Me considero capaz de
        programar interfaces de aplicaciones y sitios web, así como también la estructura de bases de datos y servidores
        web.</p>

    <p><strong>Propósito</strong></p>
    <p>Mi propósito es desarrollar una carrera en el mundo del desarrollo web y mejorar día a día para realizar mejores
        proyectos y tareas. En el futuro, quiero aprender a manejar Flutter y Angular en un nivel experto, para así
        poder
        lograr un mejor rendimiento en mi trabajo.</p>

    <p><strong>Información adicional</strong></p>
    <p>Me gusta la música, trabajar en programas de radio como operador técnico y tocar la guitarra. También me
        interesan
        los deportes, precisamente el básquet y el fútbol; en mi tiempo libre salgo a correr. Los videojuegos junto con
        la
        computadora han sido parte de mi vida desde que tengo 4 años. Me gustaría desarrollar mi propio videojuego. He
        abierto un canal de Youtube donde hago tutoriales de Geogebra para enseñar matemática.</p>


    <p><strong>Visita mi portfolio:</strong></p>
    <p><a href="https://portfolio-gfchaza.netlify.app/about" target="_blank" rel="noopener noreferrer">Mi Portfolio</a>
    </p>
</div>
{% endblock %}