{% extends "tercera_preentrega_app/base.html" %}
{% load static %}
{% block title %}Detalle de Videojuego{% endblock %}
{% block content %}
<h1>Detalle de Videojuego</h1>
<p>Título: {{ videojuego.titulo }}</p>
<p>Desarrollador: {{ videojuego.desarrollador }}</p>
<p>Género: {{ videojuego.genero }}</p>
<p>Año de Lanzamiento: {{ videojuego.año_lanzamiento }}</p>

<h2>Reseñas</h2>
{% if reviews %}
<ul>
    {% for review in reviews %}
    <div>
        <p>{{ review.usuario.username }}</p>
    </div>
    <div>
        {{ review.comentario }} - {{ review.calificacion }}
    </div>
    {% endfor %}
</ul>
{% else %}
<p>No se han agregado reseñas aún.</p>
{% endif %}

<div class="form-container">
    <h2>Agregar Reseña</h2>
    <form method="post">
        {% csrf_token %}
        {{ review_form.as_p }}
        <button type="submit">Agregar Reseña</button>
    </form>
</div>

<div>
    <a href="{% url 'tercera_preentrega_app:lista_videojuegos' %}" class="btn btn-primary">Volver atrás</a>
</div>
{% endblock %}