{% extends "tercera_preentrega_app/base.html" %}
{% load static %}
{% block title %}Lista de Videojuegos{% endblock %}
{% block content %}
<h1>Lista de Videojuegos</h1>
<div class="container">
  <ul>
    {% for videojuego in videojuegos %}
    <li>
      <a href="{% url 'tercera_preentrega_app:detalle_videojuego' videojuego.id %}">
        {{ videojuego.titulo }} - {{ videojuego.desarrollador }}
      </a>
      <span class="container-actions">
        <a href="{% url 'tercera_preentrega_app:editar_videojuego' videojuego.id %}">
          <i class="fas fa-edit"></i>
        </a>
        <a href="{% url 'tercera_preentrega_app:eliminar_videojuego' videojuego.id %}">
          <i class="fas fa-trash"></i>
        </a>
      </span>
    </li>
    {% endfor %}
  </ul>
  <div class="image-container">
    <img src="{% static 'tercera_preentrega_app/assets/videojuego.png' %}" alt="videojuego" />
  </div>
</div>


<h2>Agregar nuevo videojuego</h2>
<form action="" method="POST" id="miFormulario">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit" id="submit-button">Guardar</button>
</form>
{% endblock %}